.incomeScreen-wrapper {
    background-image: linear-gradient(to left top, #4fa8d3, #5092c4, #547db2, #58689d, #595386);
    width: 100%;
    position: absolute;
    top: 72px;
    bottom: 0px;
    z-index: -1;
    text-align: center;
}

.incomeScreen-caption {
  color: rgba(255,255,255,1);

}

.incomeScreen-barChart {
  background-color: red;
  margin: auto;
  height: 4%;
  width: 80%;
}

.incomeScreen-barChart-bar {
  z-index: 9;
  height: 100%;
  width: 60%;
  background-color: green;
}
