.incomeScreen-wrapper {
    background-image: linear-gradient(to left top, #4fa8d3, #5092c4, #547db2, #58689d, #595386);
    width: 100%;
    position: absolute;
    top: 72px;
    bottom: 0px;
    z-index: -1;
    text-align: center;
}

.incomeScreen-caption {
  color: rgba(255,255,255,1);

}

.incomeScreen-barChart {
  margin: auto;
  height: 4%;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.3);
}

.incomeScreen-barChart-bar {
  z-index: 9;
  height: 100%;
  background-image: linear-gradient(to right, #b86ecd, #a870cc, #9971c9, #8971c5, #7b71c0);
}
