.payment-screen-wrapper {
  background-image: linear-gradient(to left top, #4fa8d3, #5092c4, #547db2, #58689d, #595386);
  width: 100%;
  position: absolute;
  top: 72px;
  bottom: 0px;
  z-index: -1;
  text-align: center;
}

.payment-screen {
  width: 50%;
  margin-top: 50px;
  background-color: rgba(255,255,255,1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 100px;
  padding-top: 30px;
  display: inline-block;
}

.payment-screen-input-field{
  width:80%;
  padding:0px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  border-bottom:2px solid #bebed2;
  transition:all .3s;
  margin: 10px;
  text-align: center;
}

.payment-screen-input-field:focus {
  border-bottom:2px solid #78788c;
}

.payment-screen-submit {
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
  display: block;
  border-radius: 5px;
  margin-right: 20px;
}

.payment-screen-submit:hover {
background:#78788c;
color:#fff;
}
